.flex-container {
    display: flex;
    background-color: #D2D4C8;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 550px;
    height: 500px;
}

.num {
    background-color: #5D737E;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 100px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    border-style: none;
    border-radius: 5px;
}

.op {
    background-color: #87BBA2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 100px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    border-style: none;
    border-radius: 5px;
}

.res {
    background-color: #FFF07C;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 100px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    border-style: none;
    border-radius: 5px;
}

.screen {
    width: 530px;
    height: 100px;
    background-color: #F0F7EE;
    margin-bottom: 10px;
    border-radius: 8px;
}