.flex-container{
    font-family: 'Roboto Mono';font-size: 22px;
    display: flex;
    flex-direction: column;
    
    min-height: 100vh;
}

.game {
display: flex;
justify-content: space-around;
}

img{
    width: 140px;
}

#b {
    background-size: cover;
    height: 150px;
    width: 150px;
    border-style: none;
    background-color: transparent;
}
.player {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 80vh;
    align-items: center;
    justify-content: space-evenly;
}

.enemy {
    display: flex;
    width: 250px;
    justify-content: center;
}
.vs {
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: center;
    align-items: center;
    font-size: 75px;
}

.enemypick {
    display: flex;
    align-items: center;
    width: 150px;
}

.resultText {
    display: flex;
    text-align: center;
}

